{% extends 'base.html' %}

{% block content %}
<script>
        $(document).ready(function() {
            $('#foodTable').DataTable({
                "ajax": "/api/fooditems",
                 pageLength: 25,
                 columns: [
                    {data: "restaurant" },
                    {data: "item" },
                    {data: "calories" }
                ]
            });
        });
    </script>


    <table id="foodTable" class="display">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Item</th>
                <th>Calories</th>
            </tr>
        </thead>
    </table>


{% endblock %}